.Card{
  border: 1px solid rgba(220, 217, 217, 0.8);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.105);
  padding: 20px;
  margin:20px;
  text-align: center;
  width:250px;
  display:inline-block;

}

.Card .Card-image{
  width: 60%;
  height: 50%;
  border-radius: 70%;
}

.Card .Card-title{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.Card .Card-content{
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.5);
}
.Caty{
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid black;
  background-color: aqua;
  text-align: center;
  padding: 10px 20px;
  
}
.fruitlist li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  list-style: none;
}

.count{
  text-align: center;
  font-size: 24px;
}

.Foodlist{
  cursor: pointer;
}
.Tasks{
  color: white;
  background-color: black;
  border: 1px solid black;
}

.Tasks .todolist{
  list-style: none;
  background-color: red;
  color: white;
}

.box{
  border: 1px solid black;
  padding:10px 20px;
}
.Card1{
  border: 1px solid rgba(220, 217, 217, 0.8);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.105);
  padding: 20px;
  margin:20px;
  text-align: left;
  max-width:200px;
}
.Card1 .Card-title1{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-top:20px !important;
}